.hidden {
    display: none;
}

#container {
    max-width: 1800px;
    margin: 0 auto;
    font-size: 40px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    padding: 30px 0;
}

#question {
    line-height: 50px;
    display: inline-block;
}

#answer {
    border: 4px dashed #aaa;
    text-align: right;
    width: 80px;
    padding: 3px 10px;
    font-size: 40px;
    border-radius: 4px;
}

#answer.correct, .correct {
    border-color: green;
    color: green;
}

#answer.incorrect, .incorrect {
    border-color: red;
    color: red;
}

#main {
    margin-bottom: 60px;
}

#main label {
    vertical-align: bottom;
}

#stats {
    font-size: 60%;
}

#selection-container {
    margin-bottom: 60px;
}

#selection-container .toggle {
    font-size: 70%;
    display: inline-block;
    width: 45px;
    height: 40px;
    line-height: 44px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#selection-container .toggle.active {
    background-color: #aaaaff;
    border-color: #767676;
}

#footer {
    margin: 20px auto;
    text-align: center;
    font-size: 70%;
}

.group {
    font-size: 70%;
    display: inline-block;
    width: auto;
    height: 40px;
    line-height: 44px;
    cursor: pointer;
    border-radius: 4px;
    padding: 1px 7px;
    border: 1px solid #ccc;
}

.group.active {
    background-color: #aaaaff;
    border-color: #767676;
}

.word-list {
    font-size: 60%;
    display: inline-block;
    width: auto;
    height: 32px;
    line-height: 36px;
    cursor: pointer;
    border-radius: 4px;
    padding: 1px 7px;
    border: 1px solid #ccc;
}

.word-list.active {
    background-color: #aaaaff;
    border-color: #767676;
}

#multiple-choice-answers .answer {
    font-size: 55%;
    display: inline-block;
    width: auto;
    height: 32px;
    line-height: 36px;
    cursor: pointer;
    border-radius: 4px;
    padding: 1px 7px;
    border: 1px solid #ccc;
}

#multiple-choice-answers .answer.correct {
    background-color: #a8d0af;
    border-color: green;
}

#multiple-choice-answers .answer.incorrect {
    background-color: #ba9696;
    border-color: red;
}

.button {
    font-size: 150%;
    display: block;
    width: 180px;
    margin: 0 auto 20px;
    height: 42px;
    line-height: 36px;
    cursor: pointer;
    border-radius: 4px;
    padding: 1px 7px;
    background-color: #aaaaff;
    border: 1px solid #767676;
}